body {
  font-family: 'Open Sans', sans-serif;
}

.overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  min-width: 100%;
}

.menu {
  font-size: 1em;
  border-left: 2px solid rgba(204, 204, 204, 0.25);
  border-top: 2px solid rgba(204, 204, 204, 0.25);
  border-right: 2px solid rgba(204, 204, 204, 0.25);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5em 0.5em 0 0;
  max-width: 75vw;
  bottom: 0;
  margin: 0 auto;
  padding: 0.5em;
  transition: 0.3s;
}

.menu-row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1em;
  padding: 0.5em;
  transition: 0.3s;
}

@media only screen and (max-width: 600px) {
  .menu-row {
    grid-auto-flow: row;
    max-width: 80vw;
    row-gap: 1em;
    grid-template-rows: 1fr 1fr;
  }
}

.menu-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-label {
  padding: 0 0.5em 0 0;
  text-align: end;
  color: #444444;
}

.menu-input,
.menu-dropdown {
  min-width: 50px;
  width: 100%;
  border-radius: 0.25em;
  color: #444444;
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(204, 204, 204, 0.25);
  padding: 0.25em 0.5em;
  flex: 0 1 auto;
  font-size: 1em;
}

.menu-button-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
}

.menu-button {
  cursor: pointer;
  border-radius: 0.5em;
  border: 2px solid rgba(110, 110, 110, 0.25);
  font-size: 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  transition: 0.3s;
  min-width: 20px;
  width: 100%;
}

.menu-button:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-button:hover {
  border: 2px solid #26619c;
  color: #26619c;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.menu-button:focus {
  outline: none;
}

#enter-vr-button {
  display: none;
}

#enter-ar-button {
  border: 2px solid rgba(158, 91, 4, 0.4);
}

#exit-ar-button {
  display: none;
}

body.ar-mode #enter-ar-button {
  display: none;
}

body.ar-mode #exit-ar-button {
  display: initial;
}

body.ar-mode canvas.a-canvas {
  display: none;
}

div.a-orientation-modal {
  display: none;
}
